PORT=3003
DB_HOST=db
DB_PORT=5432
DB_NAME=bibliotheque
DB_USER=postgres
DB_PASSWORD=postgres
SERVICE_LIVRES_URL=http://service-livres:3001
SERVICE_UTILISATEURS_URL=http://service-utilisateurs:3002
DUREE_EMPRUNT_JOURS=30
